<h1>New Track</h1>

<%= form_for @article, :url => { :action => "create" }, :html => {:class => ""} do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field : %>     <!--edit here-->
  <%= f.submit "Create" %>
<% end %>