<h1><%= @project.title %></h1>


<% for track in @project.tracks %>
	<h2><%= link_to track.title %></h2>
<% end %>


<%= link_to "Add new Track", "/projects/#{@project.id}/tracks/new", :class => "new_project_track" %>





