<h1><%= @project.title %></h1>


<% for track in @project.tracks %>
	<h2><%= link_to track.title %></h2>
<% end %>

<%= link_to "Record new Track", new_project_track_path, :class => "new_project_track" %>




